.add-art-container .input-group {
	padding-bottom: 9px;
}
.input-group-addon div {
	width: 80px;
	padding: 0px;
	margin: 0px;
}
.input-group .addon-select {
	width: 80px;
	padding: 0px;
	margin: 0px;
}

form>.row>.col-sm-3 {
	text-align: right;
}

.add-art-container .add-art-heading {
	padding: 20px 0px;
	margin: 0px 0px 10px;
	width: 100%;
}

/*.add-item-photo-btn {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	border-radius: 5%;
	margin-bottom: 20px
}*/

.input-group .addon-select select {
    margin: 0px;
    height: 32px;
    width: 100%;
}

#add-art-item-form button[type="submit"] {
	margin: -15px 0px 10px;
}

@media (max-width: 768px) {
	
	form>.row>.col-sm-3 {
	text-align: center;
	}

	/*.add-item-photo-btn {
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	color: #0A0;
	font-weight: bold;
	font-size: 16px;
	box-shadow: 1px 1px 3px 
	}*/

	#add-art-item-form button[type="submit"] {
		width: 100%;
		text-align: center;
	}
}
