.cart-container {
	padding-top: 2em;
}

.cart-links-bar {
	margin: 2em 0;
}


.messages {
    margin-top: 0px;
    margin-bottom: 2em;
    overflow: hidden;
}
.messages:empty {
    display: none;
}

.cart-table.table>thead>tr>th {
	padding: 8px 0px;
	color: #888894;
	font-weight: bold;
}

.cart-item .item-description>dl>dt>a {
	color: #000;
	font-weight: bold;
	font-size: 1.5em;
}

td.item-delivery-info {
	font-size: 0.7em;
}

.item-delivery-info mark {
	color: #66A64D;
}

.cart-table.table>tfoot>.cart-total-container {
	background: #DDD none repeat scroll 0% 0%;
}

.cart-table.table>tfoot>.cart-total-container>td,
.cart-table.table>tfoot>.cart-total-container>th {
	border-top: none;
}

.cart-table.table .cart-total {
	font-weight: bold;
}

.review-disclaimer{
	color: #909090;
}

.unstyled {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;	
}

.vertical {
	padding: 1.5em;
}

aside.perks {
	background: #FAFAFA none repeat scroll 0% 0%;
	color: #888;
	position: relative;
	margin-top: 3em;
}

aside.perks .heading {
	color: #4AC;
	font-size: 1em;
	border-bottom: 2px solid #FFF;
	margin: 0;
	padding-bottom: 2px;
}
aside.perks.vertical ul {
    padding: 0px;
    margin: 1.5em 0px;
    font-size: 0.8em;
}
aside.perks .perk {
    position: relative;
    padding-left: 26px;
}

aside.perks .perk::before {
    content: "";
    position: absolute;
    left: 0px;
    background-image: url("../img/sprites/icons.png");
    background-position: 0px -28px;
    width: 16px;
    height: 15px;
}
*::before {
    box-sizing: border-box;
}

.horizontal-list {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}

aside.perks.vertical .perks-list li + li {
    margin-top: 1em;
}

.logos-list {
    padding-top: 20px;
}

.logos-list li {
    vertical-align: middle;
    margin-right: 0.65em;
    margin-bottom: 0.325em;
}
.horizontal-list > li {
    display: inline-block;
}

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px none;
    overflow: hidden;
}

.logo-dhl, .logo-fedex, .secure-guarantee, .payment-mastercard, .payment-paypal, .logo-ups, .payment-visa {
    color: transparent;
    background-image: url("../img/sprites/logos.png");
    display: inline-block;
    vertical-align: middle;
}

.payment-visa {
    background-position: 0px -161px;
    width: 47px;
    height: 30px;
}

.payment-mastercard {
    background-position: -50px 0px;
    width: 50px;
    height: 36px;
}

.payment-paypal {
    background-position: 0px -80px;
    width: 113px;
    height: 40px;
}

.logo-dhl {
    background-position: 0px -229px;
    width: 130px;
    height: 47px;
}

.logo-fedex {
    background-position: 0px -120px;
    width: 101px;
    height: 41px;
}

.logo-ups {
    background-position: -50px -36px;
    width: 38px;
    height: 44px;
}

aside.perks.vertical ul:last-child {
    margin-bottom: 0px;
}

.logos-list .perk-with-label {
    vertical-align: baseline;
}
.logos-list li i.secure-ssl {
    margin-bottom: 13px;
}
.logos-list i {
    display: block;
    margin: 0px auto 0.35em;
}
.secure-ssl {
    width: 90px;
    height: 50px;
    background: transparent url("../img/rapid-ssl.gif") repeat scroll 0% 0%;
}
.secure-guarantee {
    background-position: -47px -161px;
    width: 66px;
    height: 68px;
}