/*Buttons*/

.btn-wide {
  width: 100%;
}

.btn-round {
  border: none;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: none;
  background-color: #444;
  color: #fff;
  font-size: 2em;
  border-radius: 50%;
  opacity: 0.7;
}

.btn-round:hover {
  color: #ddd;
}

.btn-round span {
  vertical-align: middle;
}

/*Modal*/

#modal-fullsize-img .modal-dialog,
#modal-fullsize-img .modal-content {
  display: block;
  width: auto;
  margin: 0px;
  height: auto;
  max-height: 100%;
}

#modal-fullsize-img.modal-wide .modal-body {
  height: 90%;
}

#modal-fullsize-img,
#modal-fullsize-img .modal-body {
  padding: 0px;
}

/*Modal image*/

.img-responsive-height {
  display: block;
  width: auto;
  max-height: 100vmin;
  margin: 0px auto;
}

.col-without-padding {
  padding: 0px;
}

.details button {
  margin: 0px;
}

.detailed-view img {
  width: 100%;
}

.detailed-view {
  margin-top: 10px;
}

.details div:first-child {
  font-weight: bold;
}

.image-container .button-bar {
  width: 114px;
  margin-top: -55px;
  display: none;
}

.image-container:hover .button-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .details div {
    margin-left: 10px;
  }
  .details nav {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: inherit;
  }
  .details button {
    margin-left: -10px;
  }
}
