html,
body {
  height: 100%;
}

footer p {
  margin: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

#push,
#footer {
  min-height: 60px;
}

#footer {
  margin-top: -60px;
}

.text-justify {
  text-align: justify;
}

.horizontal-line {
  border-bottom: 2px solid #aaa;
  margin: 10px auto 20px;
}

.page-header {
  margin: 0;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 3;
  background-color: #fff;
}

.page-header a {
  text-decoration: none;
}

.page-header .brand-name {
  color: #777;
  font-size: 18px;
  line-height: 20px;
}

.page-header .brand-name:hover {
  color: #5E5E5E;
}

.navbar-fixed-top {
  margin-top: 70px;
}

.page-header input.form-control {
  border-radius: 0;
  border: none;
  background-color: #eee;
}

.lang-bar .navbar-nav {
  margin: 0 -15px;
}

.lang-bar .navbar-nav > li {
  display: inline-block;
}

.lang-bar .navbar-nav > li:last-child {
  margin-right: 15px;
}

.lang-bar .navbar-nav > li > a {
  padding: 3.5px 15px;
}

.content > .container {
  padding-top: 120px;
}

.footer {
  background-color: #eee;
}

.footer address {
  margin-bottom: 0;
}

.footer address+button {
  width: 100%;
}

.sign-in-header {
  border-radius: 0px;
  background-color: #eee;
}

.sign-in-body {
  border-radius: 0px;
  border-color: #fff;
}

.sign-in-body input {
  margin-left: -15px;
}

.sign-in-header h3 {
  display: inline;
}

.btn-facebook {
  padding-left: 20px;
  background-image: url("../img/Facebook_logo_16.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.btn-wide {
  width: 100%;
}

.acc-type-body {
  position: relative;
}

.select-one {
  display: block;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  line-height: 0.7;
  padding: 100px 0px 0px;
  position: absolute;
  font-size: 3em;
  left: 292px;
  text-align: center;
  width: 120px
}

.modal-body {
  height: 250px;
  overflow-y: auto;
}

.policies + a {
  margin-right: 20px;
}

.policies + a:last-child {
  margin-right: 0px;
}

.forgot-pass {
  margin-top: -15px;
}

.register-option {
  text-align: center;
}

.register-option > p {
  margin-left: -50px;
  font-size: 2em;
  font-weight: bold;
  color: #888;
}

@media only screen and (min-width: 768px) {
  a.customer-account {
    background: transparent url("../img/customer.svg") no-repeat;
    width: 300px;
    height: 300px;
    display: block;
    text-indent: -9999px;
    background-size: 100% auto;
  }
  a.artist-account {
    background: transparent url("../img/artist.svg") no-repeat;
    width: 300px;
    height: 300px;
    display: block;
    text-indent: -9999px;
    background-size: 100% auto;
  }
  a.customer-account:hover + p{
    color: #555;
  }
  a.artist-account:hover + p{
    color: #555;
  }
  a.customer-account:hover {
    border: 1px solid #888;
  }
  a.artist-account:hover {
    border: 1px solid #888;
  }
  .col-without-padding {
    padding: 0px;
  }
  .border-left {
    border-left: 1px solid #888;
  }
  .create-acc {
    margin-top: 37px;
  }
  .footer nav {
    padding-right: 0;
    padding-left: 0;
  }
  .register-option > p {
    margin-left: -100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #modal2 .modal-dialog {
    width: auto;
  }
  a.customer-account {
    width: 200px;
    height: 200px;
  }
  a.artist-account {
    width: 200px;
    height: 200px;
  }
  .select-one {
    line-height: 0.7;
    padding: 100px 0px 0px;
    position: absolute;
    font-size: 2em;
    left: 192px;
    text-align: center;
    width: 120px
  }
}

@media (min-height: 500px) {
  .modal-body {
    height: 400px;
  }
}

@media (min-height: 800px) {
  .modal-body {
    height: 600px;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .register-option {
    text-align: center;
  }
  a.customer-account {
    font-size: 2em;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    text-align: center;
    margin-top: 2em;
  }
  a.artist-account {
    font-size: 2em;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    margin-top: 2em;
  }
  a.customer-account:hover {
    border: 1px solid #888;
  }
  a.artist-account:hover {
    border: 1px solid #888;
  }
}
