<div class="container">
    <div class="row">
        <div class="col-md-3 scrollspy">
            <ul id="menu" class="nav navbar-inverse hidden-xs hidden-sm" data-spy="affix" data-offset-top="0" data-offset-bottom="168.5" role="navigation">
                <li><a href="#FAQ">FAQ</a></li>
                <li><a href="#payment-details">Payment and delivery details</a></li>
                <li><a href="#warrant">Warrant</a></li>
                <li><a href="#about-us">About us</a></li>
                <li class="has-submenu"><a href="#cooperation">Cooperation with us<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></a>
                <ul class="nav" role="navigation">
                    <li><a href="#coop-artist">As an Artist</a></li>
                    <li><a href="#coop-collector">As an Collector</a></li>
                </ul>
            </li>
            <li><a href="#conditions">Conditions</a></li>
        </ul>
        <!-- /#menu -->
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-md-9">
        <section class="anchor" id="FAQ">
            <h3>Frequently Asked Question</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ipsum, odio? Asperiores ut unde, hic, nobis repellat blanditiis veritatis saepe dicta, amet, earum dolor vel fugit aliquam dolorum enim. Incidunt!</div>
            <div>Cum nostrum, voluptate pariatur accusamus, asperiores molestias harum repudiandae facere aperiam, quisquam reiciendis quibusdam nemo eos libero optio aliquam aspernatur inventore, est incidunt ab quaerat? Corporis unde, debitis architecto possimus.</div>
            <div>Blanditiis eius accusantium itaque dolor. Maiores alias vitae nemo quos reprehenderit velit, laboriosam molestias fugiat natus, nostrum nobis accusamus ut omnis non voluptates praesentium perferendis provident doloremque ipsum. Quaerat, magni.</div>
            <div>Atque eius, dolores quas quo commodi, fugit officia ea laudantium expedita cumque necessitatibus voluptatum consequatur eveniet magni reprehenderit aliquam! Architecto neque cupiditate distinctio, maxime dolore. Quae qui, eaque dignissimos. Nulla!</div>
            <div>Aliquid obcaecati eaque, voluptas. Voluptatibus ipsum recusandae, ab laboriosam porro! Doloremque atque ad consectetur, accusantium impedit provident? Dolorem ab aliquid distinctio aperiam fugit ad molestias sint, accusamus iure, officiis labore.</div>
        </section>
        <section class="anchor" id="payment-details">
            <h3>Payment and delivery details</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vel maiores voluptatem nihil, perferendis! Error modi similique doloribus temporibus, laudantium natus sit tenetur molestias, aut sunt quisquam, id. Reiciendis, cum.</div>
            <div>Nam, voluptatum nobis nulla harum laudantium autem, nemo vel. Est inventore quo, cum delectus reprehenderit dolores iste soluta minus fugit ipsam quis, consequatur provident praesentium cumque? Natus, tenetur tempora eos.</div>
            <div>Repudiandae corrupti, voluptas beatae delectus quam, quo optio, hic recusandae cumque fugiat adipisci eaque. Facilis nulla, laboriosam voluptates, adipisci expedita molestias est accusamus vel veritatis suscipit similique, tenetur at velit.</div>
            <div>Odio, laboriosam iste provident a ea dicta cum nisi quos unde qui quasi eveniet, dolorum nobis cupiditate sint aspernatur deserunt nihil neque non. Neque aspernatur tempora iusto, perspiciatis repudiandae est?</div>
            <div>In fugit incidunt fuga sunt nam nemo sequi quaerat alias, quae eum quisquam molestiae architecto beatae animi id deserunt quia veniam itaque nihil quis, nobis totam. Eligendi perferendis saepe ipsa.</div>
        </section>
        <section class="anchor" id="warrant">
            <h3>Warrant</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repudiandae dolores maiores, ipsa explicabo magni facilis, placeat soluta nesciunt, eaque perspiciatis nulla, est voluptates. Voluptates, deleniti, in? Qui, culpa, maxime!</div>
            <div>Nemo fuga iusto distinctio, minus ipsum numquam minima? Sit quo pariatur quas neque sunt. Saepe reiciendis, odit iure deserunt veritatis tenetur consectetur cupiditate, molestiae fuga delectus eos, sed voluptatibus quasi.</div>
            <div>Eos ab harum, illum eius nam fugit consequuntur nemo in natus recusandae laboriosam totam illo amet ex quo? Dolores sunt atque ut ex, itaque consequatur molestiae doloremque, tenetur dolore officia.</div>
        </section>
        <section class="anchor" id="about-us">
            <h3>About us</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit magni, illum quo voluptatum veniam maiores inventore velit temporibus. Cupiditate repellat iusto rerum, asperiores excepturi repudiandae culpa mollitia. Adipisci, ipsa! At.</div>
            <div>Vel, perspiciatis nobis omnis, voluptatum quis id, tenetur eligendi expedita modi possimus explicabo! Quos culpa repellat assumenda iure officia quae suscipit quibusdam. Quo veniam aperiam perspiciatis ad, quaerat perferendis iure.</div>
            <div>Eos consequatur quia, tempora magni ea dignissimos. Facere dolor minima eos accusantium numquam perferendis labore, iusto esse eaque itaque cumque ea perspiciatis in exercitationem, consequuntur, dolorem cupiditate minus aspernatur qui?</div>
        </section>
        <section class="anchor" id="cooperation">
            <h3>Cooperation with us</h3>
            <section class="anchor" id="coop-artist">
                <h4>As an Artist</h4>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veniam error adipisci fugiat nam, ad hic, dicta doloribus voluptatum quae tempore molestiae nemo reiciendis rem, deserunt quisquam. Amet, saepe, quaerat.</div>
                <div>Excepturi nostrum non eum. Possimus, voluptatibus ipsa commodi non nam deleniti fuga maxime nulla, labore eius blanditiis vel recusandae, incidunt ad velit veniam dolores sunt adipisci in! Deserunt, quaerat expedita?</div>
                <div>Ullam quo inventore aperiam, amet, iusto quibusdam repellendus, praesentium quia, porro ex ea maxime! Fugiat, iusto, eveniet cumque nostrum labore, delectus tenetur doloribus laboriosam voluptate molestias inventore praesentium at earum.</div>
                <div>Neque mollitia, voluptates molestias praesentium asperiores unde. Atque nihil quia ducimus quas explicabo possimus debitis sequi esse id. Iure unde quia quos praesentium exercitationem quas magnam officia architecto sit reiciendis?</div>
                <div>Corporis dolorum rem non maiores eveniet eius itaque quasi aperiam, placeat in. Natus recusandae, nisi fuga aspernatur repudiandae nemo ex quaerat quam unde quo ullam. Tenetur blanditiis officiis at. Quos.</div>
                <div>Exercitationem consequuntur incidunt illo nulla consectetur deserunt magni porro laudantium et. Nihil harum hic accusantium, tempora nobis cumque soluta voluptate. Ratione ipsam possimus optio placeat quod autem iusto harum vero.</div>
                <div>Corporis, quia harum? Corporis iusto quibusdam quisquam nisi, beatae animi eum reprehenderit possimus ipsum inventore nesciunt atque similique eligendi quas nulla, error eaque. Dolor autem quas debitis vel, doloremque dicta.</div>
                <div>Soluta veniam, quis dolor, at beatae unde placeat illo cumque fugiat. Eligendi dolore explicabo unde aspernatur nulla minima consectetur enim placeat, esse amet ipsam rerum ad recusandae ex, excepturi mollitia.</div>
                <div>Molestias placeat eos ipsum fuga incidunt dolorem sint. Error laborum, similique corporis dolores iure nesciunt commodi minus asperiores quo porro qui, dolorum quae aut doloremque reiciendis modi ad aliquam esse.</div>
                <div>A, magnam quo? Consectetur nostrum, sequi officiis error vitae facere placeat, debitis rem dolores fugit veniam reiciendis sapiente animi, pariatur quidem ullam, unde veritatis aliquam labore soluta hic autem mollitia.</div>
            </section>
            <section class="anchor" id="coop-collector">
                <h4>As a Collector</h4>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis fugiat, maiores deserunt necessitatibus iure eius ab illum voluptatibus quod, earum quo ipsam ex quis atque doloribus optio. Adipisci, minus, possimus.</div>
                <div>Aperiam accusantium hic quisquam quos explicabo nisi, illum aliquam, rem labore consequatur temporibus blanditiis distinctio dolorem ea cum enim iure repellendus deserunt vero maxime odit! Inventore a nobis, est mollitia.</div>
                <div>Quod quos voluptatem, earum? Magni non a velit autem vitae cum unde cumque, culpa voluptatibus suscipit doloremque dolore. Cum magnam modi in omnis asperiores quidem sequi deserunt est quasi nisi.</div>
                <div>Reprehenderit minus reiciendis provident pariatur in corporis nobis consectetur neque aspernatur possimus quod deleniti, atque, sapiente delectus impedit sit voluptatibus perspiciatis facilis unde obcaecati praesentium vel commodi architecto. Omnis, autem.</div>
                <div>Minima iusto ullam sunt, sapiente quas provident eos quibusdam, consectetur maiores libero nemo, id rem perferendis officiis voluptas sint ipsum odit! Veritatis distinctio enim et amet inventore vitae dignissimos eum.</div>
                <div>Recusandae dignissimos ex aliquid, iure dolore ratione id assumenda, corporis perspiciatis deserunt, aut placeat quibusdam sint, qui pariatur laborum unde ipsam atque. Provident eius ducimus, ipsam, eos cum quibusdam nihil.</div>
                <div>Corporis porro voluptate, optio! Numquam totam sint porro repellat nihil molestiae et officiis repellendus inventore illum dolorem nisi dolorum saepe excepturi, soluta distinctio quia odit, error, laudantium doloremque veritatis labore.</div>
                <div>Ipsa minus aperiam placeat, quo incidunt iste tempora nulla tempore quas sunt asperiores neque, impedit voluptate recusandae officia, earum ducimus, sed distinctio animi quam! Perspiciatis molestias quod error id, fugit.</div>
                <div>Asperiores quae ex consequatur eius, maxime, soluta vel. Ipsam, aperiam fugiat ipsa cupiditate quis dolorem recusandae natus consequuntur placeat. Ipsa adipisci iusto quaerat vitae modi, accusantium possimus porro delectus doloribus.</div>
                <div>Excepturi, odio explicabo! Animi assumenda totam aliquam, excepturi deserunt, velit. Tempore temporibus obcaecati perferendis mollitia quia fuga vel adipisci ratione dolore, provident voluptate iure, quibusdam porro architecto recusandae minus. Debitis?</div>
            </section>
        </section>
        <section class="anchor" id="conditions">
            <h3>Conditions</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum totam a voluptas modi ratione, possimus ad accusamus ea. Aut expedita molestias maiores numquam quia similique, quis, incidunt delectus rerum!</div>
            <div>Provident magni delectus vero similique possimus, quo iusto doloremque inventore neque totam aspernatur ducimus, laboriosam quasi, eaque. Dolore voluptatum est libero. Dolores nulla perspiciatis quos atque neque aut reprehenderit. Eum.</div>
            <div>Alias necessitatibus animi aperiam assumenda? Blanditiis maiores, eos, veniam possimus molestias ad, perspiciatis sint accusantium laudantium, temporibus praesentium harum repellendus a enim soluta. A omnis excepturi, incidunt consectetur tempora doloribus.</div>
        </section>
        <a href="#top" class="btn btn-success pull-right" style="margin: 20px 0">Back to the top</a>
    </div>
    <!-- /.col -->
</div>
</div>