<p>Amount of paintings <%= @art_items.count %></p>

<% @art_items.each do |art_item| %>
  <img src="<%= art_item.source_file.url %>" alt="some_image" width="100" padding="5"/>
<% end %>
<p><a href="art_items/new">create new item</a></p>