<div class="add-art-container">
    <div class="row">
      <h2 class="text-center add-art-heading">Add your Piece of Art</h2>
    </div>
    <!-- /.row .add-art-heading -->
    <!--<form id="add-art-item-form">-->
      <div class="row">
        <div class="col-sm-3">
                <!--<input type="file" value="add photo" id="add-art-photo-btn">-->
                <input type="file" value="add photo" id="add-art-photo-btn" multiple="multiple" />
                <div id="image_preview"></div>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="addon-add-art-item-name"><div>Name</div></span>
                        <input type="text" class="form-control" id="add-art-item-name" placeholder="Name" aria-describedby="addon-add-art-item-name">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="addon-add-art-item-description"><div>Description</div></span>
                        <input type="text" class="form-control" id="add-art-item-description"  placeholder="Description" aria-describedby="addon-add-art-item-description">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="addon-add-art-item-category"><div>Category</div></span>
                        <select name="select-category" id="select-category" class="form-control" placeholder="" aria-describedby="addon-add-art-item-category">
                <option disabled selected>Choose one</option>
              </select>
            </div>
            <!-- /.input-group -->
          </div>
          <!-- /.form-group -->
        </div>
      </div>
      <!-- /.row -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-medium" class="hidden-xs pull-right">Medium</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-medium"><div>Medium</div></span>
              <select name="select-medium" class="form-control" id="add-art-item-medium" placeholder="" aria-descripbedby="addon-add-art-item-medium">
                <option disabled selected>Choose one</option>
              </select>
            </div>
          </div>
        </div>
        <!-- /.row medium -->
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-style" class="hidden-xs pull-right">Style</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-style"><div>Style</div></span>
              <select name="select-style" class="form-control" id="add-art-item-style" placeholder="E.g. abstract, pop art, modern etc." aria-descripbedby="addon-add-art-item-style">
                <option disabled selected>Choose one</option>
              </select>
            </div>
          </div>
        </div>
        <!-- /.row style -->
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-subject" class="hidden-xs pull-right">Subject</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-subject"><div>Subject</div></span>
                        <select name="select-subject" class="form-control" id="add-art-item-subject" placeholder="E.g. body, still life, portrait etc." aria-descripbedby="addon-add-art-item-subject">
                            <option disabled selected>Choose one</option>
                        </select>
                        <!--<input type="text" class="form-control" id="add-art-item-subject" placeholder="E.g. body, still life, portrait etc." aria-descripbedby="addon-add-art-item-subject">-->
            </div>
          </div>
        </div>
        <!-- /.row subject -->
      </div>
      <!-- /.form-group -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-orientation" class="hidden-xs pull-right">Orientation</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-orientation"><div>Orientation</div></span>
                        <select name="select-orientation" class="form-control" id="add-art-item-orientation" placeholder="E.g. portrait, square, landscape etc." aria-descripbedby="addon-add-art-item-orientation">
                            <option disabled selected>Choose one</option>
                        </select>
                        <!--<input type="text" class="form-control" id="add-art-item-orientation" placeholder="E.g. portrait, square, landscape etc." aria-descripbedby="addon-add-art-item-orientation">-->
            </div>
          </div>
        </div>
        <!-- /.row orientation -->
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-vsize" class="hidden-xs pull-right">Vertical-size</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-vsize"><div>V-size</div></span>
              <input type="text" class="form-control" id="add-art-item-vsize" placeholder="E.g. 56" aria-descripbedby="addon-add-art-item-vsize">
              <span class="input-group-addon addon-select">
                <select name="select-vsize" id="select-vsize">
                  <option value="cm">cm</option>
                  <option value="inch">inch</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <!-- /.row v-size -->
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-hsize" class="hidden-xs pull-right">Horizontal-size</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-hsize"><div>H-size</div></span>
              <input type="text" class="form-control" id="add-art-item-hsize" placeholder="E.g. 56" aria-descripbedby="addon-add-art-item-hsize">
              <span class="input-group-addon addon-select">
                <select name="select-hsize" id="select-hsize">
                    <option value="cm">cm</option>
                    <option value="inch">inch</option>
                </select>
             </span>
            </div>
          </div>
        </div>
        <!-- /.row h-size -->
      </div>
      <!-- /.form-group -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-price" class="hidden-xs pull-right">Price</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-price"><div>Price</div></span>
              <input type="text" class="form-control" id="add-art-item-price" placeholder="E.g. 200" aria-descripbedby="addon-add-art-item-price">
              <span class="input-group-addon addon-select">
                <select name="select-price" id="select-price">
                    <option value="usd">USD</option>
                    <option value="euro">Euro</option>
                    <option value="uah">UAH</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <!-- /.row price -->
        <div class="row">
          <div class="col-sm-3 text-right">
            <label for="add-art-item-keywords" class="hidden-xs pull-right">Keywords</label>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <div class="input-group col-xs-12">
              <span class="input-group-addon" id="addon-add-art-item-keywords"><div>Keywords</div></span>
              <input type="text" class="form-control" id="add-art-item-keywords" placeholder="E.g. portrait, lady, redhood" aria-descripbedby="addon-add-art-item-keywords">
            </div>
          </div>
        </div>
        <!-- /.row keywords -->
      </div>
      <!-- /.form-group -->
        <button class="btn btn-success pull-right" id="submit">Upload</button>
    </form>
    <!-- /form -->
  </div>