<td class="item-image">
  <img src="" alt="demo_img">
</td>
<td class="item-description">
  <p>item id: <%= id %></p>
</td>
<td>
  <%= updated_at %>
</td>
<td class="item-price">
  $1,000.00
</td>
<td>
  <a href="/#cart"><button class="unlock btn btn-info btn-sm">Unlock</button></a>
</td>

