    <td class="item-image" rowspan="2">
       <img src="" alt="demo_img">
   </td>
   <td class="item-description">
       <p>some text</p>
   </td>
   <td class="item-price">
       $1,000.00
   </td>
   <td>
       <a href="#"><button class="btn btn-info btn-sm">Unlock</button></a>
   </td>

