<div class="container">
    <div class="row">
        <section class="col-md-9 cart-container">
            <div class="cart-links-bar">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <a href="#">&lt; Continue Shopping</a>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <a href="#" class="btn btn-success  pull-right">Proceed to Checkout</a>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.cart-links-bar -->
            <div class="messages"></div>
            <div class="table-responsive">
                <table class="cart-table table table-hover">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Author</th>
                            <th>Name</th>
                            <th>created_at</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="cartitems">

                     <!-- items -->
                   
                   </tbody>
            </table>
    </div>
    <!-- /.table-responsive -->
    <div class="cart-links-bar">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="#">&lt; Continue Shopping</a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <a href="#" class="btn btn-success  pull-right">Proceed to Checkout</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.cart-links-bar -->
    <p class="review-disclaimer">* Delivery time will vary depending on country of origin and destination.</p>
</section>
<!-- /.cart-container -->
<aside class="perks vertical col-md-3">
    <h1 class="heading">Why buy on Project Art?</h1>
    <ul class="perks-list  unstyled">
        <li class="perk">Discover emerging artists from around the world </li>
        <li class="perk">Safe &amp; secure shopping </li>
        <li class="perk">Buyer protection through our Project Art Buyer Protection </li>
        <li class="perk">7-day money back guarantee</li>
    </ul>
    <h2 class="heading">Payment Methods</h2>
    <ul class="logos-list no-list horizontal-list">
        <li class="ir payment-visa" title="visa">Visa</li>
        <li class="ir payment-mastercard" title="mastercard">MasterCard</li>
        <li class="ir payment-paypal" title="paypal">PayPal</li>
    </ul>
    <h2 class="heading">Delivery partners</h2>
    <ul class="logos-list no-list horizontal-list">
        <li class="ir logo-dhl" title="SHIPPING_PROVIDER_DHL">SHIPPING_PROVIDER_DHL</li>
        <li class="ir logo-fedex" title="SHIPPING_PROVIDER_FEDEX">SHIPPING_PROVIDER_FEDEX</li>
        <li class="ir logo-ups" title="SHIPPING_PROVIDER_UPS">SHIPPING_PROVIDER_UPS</li>
    </ul>
    <h2 class="heading">You are protected</h2>
    <ul class="logos-list no-list horizontal-list">
        <li class="perk-with-label"><i class="ir secure-ssl" title="secure payment"></i>secure payment</li>
        <li class="perk-with-label"><i class="ir secure-guarantee" title="100% money back"></i>100% money back</li>
    </ul>
</aside>
<!-- /.perks -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /.content -->
<!-- BODY END -->
<div id="push" style="height: 45px"></div>
