Hi form login view!
<div class="modal-header sign-in-header">
    <div class="container-fluid">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<span><img class="image-responsive" id="myModalLabel" src="../img/brand_logo_resized.png" alt="LOGO"></span> <h3 class="hidden-xs text-uppercase">Project Art</h3>-->
    </div>
</div>
<div class="modal-body sign-in-body">
    <div class="container-fluid">
        <p class="lead text-center">Create Account / Login</p>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted text-center lead">Want to create an account?</p>
                <p class="text-muted text-center">In order to buy or sell art you must first create an account.</p>
                <div class="text-center">
                    <a class="btn btn-default" href="modal-register.html" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create account</a>
                </div>
                <p class="text-muted text-center">or</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-facebook">Connect with Facebook</button>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted text-center lead">Already have an account?</p>
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 text-right hidden-xs">
                                <label for="login-sign-in">Email or Username :</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-group" id="login-sign-in" placeholder="ex: example@xmp.com">
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 text-right hidden-xs">
                                <label for="login-pass">Password :</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-group" id="login-pass" placeholder="MySecretPass">
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.form-group -->
                    <div class="checkbox text-center">
                        <label>
                            <input type="checkbox" checked> Remember me.
                        </label>
                    </div> <!-- /.checkbox -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-default">Sign in</button>
                        <button type="button" class="btn btn-primary btn-facebook">Sign in</button>
                    </div>
                </form>

                <div class="text-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>