<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<address class="text-muted"> <strong>Contacts</strong><br>
					<abbr title="Phone number">P</abbr>: +380 (**) ***-**-**<br>
					<abbr title="E-mail">E</abbr>: <a href="mailto:example@xmpl.ua?Subject=From%20the%20webpage" target="_top">example@xmpl.ua</a>
					</address>
				</div> <!-- column 1 -->
				<div class="col-md-8 col-sm-8 col-xs-6">
					<nav>
					<ul class="nav nav-pills">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">Paintings</a></li>
						<li><a href="#contact">Artist</a></li>
						<li><a href="#customer-info">How to buy</a></li>
					</ul>
				  </nav>
				</div>
			</div>
		</div>
</footer>