<header>

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>

						<button type="button" class="navbar-toggle collapsed mybutton" data-toggle="collapse" data-target="">
						<a href="#" title="Search" class="navbar-button"><span class="glyphicon glyphicon-search"></span></a>
						</button>

						<button class="navbar-toggle collapsed mybutton" type="button" data-toggle="collapse" data-target=""><a href="/" class="dropdown-toggle pull-right" style="color:#FFF;" data-toggle="dropdown" role="button" aria-expanded="false">EN&nbsp;&nbsp;<span class="caret"></span></a></button>

					</div> <!-- /.navbar-header -->

					<div id="mynavbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#about">Paintings</a></li>
							<li><a href="#contact">Artist</a></li>
							<li><a href="#customer-info">How to buy</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" id="displaynone">
							<li>
								<form method="get" action="/search/" target="_blank" class="navbar-form navbar-right" role="search">
									<div class="form-group">
										<input name="q" id="form-query" value="" type="text" class="form-control" placeholder="Введіть дані для пошуку">
									</div>
								</form>
							</li>
							<li>
								<button class="btn lang" type="button"><a href="/" class="dropdown-toggle pull-right" style="color:#FFF;" data-toggle="dropdown" role="button" aria-expanded="false">EN&nbsp;&nbsp;<span class="caret"></span></a></button>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div> <!-- /.container -->
			</nav>
</header>