<div class="paint_inner">
	<a href="#artItems/<%= id %>"><img class="img-responsive home_carousel_paint" src="<%= source_file.url %>" alt=""></a>
	<div class="home_carousel_text">
		<a href="#authors"><h4 class="exposition_name">Exposition</h4></a>
		<a href="#authors"><p class="exposition_artist">Nikifor - very good artist with great works</p></a>
	</div>
</div>