<div class="admin-artist">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 profile-column">
          <div class="profile">
            <div class="description">
            </div>
          </div>
        </div>
        <!-- /.profile-column -->
        <div class="col-xs-12 col-sm-5 col-md-4 button-column">
          <a href="#authors/<%= id %>/edit" class="profile-edit"><span class="sticker">Edit Profile</span></a>
          <a href="#artItems/new" class="upload-art"><span class="sticker">Upload Art</span></a>
          <a href="#" class="my-gallery"><span class="sticker">My Gallery</span></a>
        </div>
        <!-- /.button-column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- CAROUSEL -->
    <div class="paintslide_artist_paint">
      <div class="variable-width"></div>
      <!-- /.variable-width -->
    </div>
    <!-- /.paintslide_artist_paint -->
  </div>
  <!-- /.admin-artist -->