<td><%= first_name %></td>
<td><a href="#/authors/<%= id %>">Show</a></td>
<td><a href="#/authors/<%= id %>/edit">Edit</a></td>
<td><a href="#/authors/<%= id %>/destroy" class="destroy">Destroy</a></td>
