<div class="work_inner">
  <a title="About painting">
    <!--<p>from art item</p>-->
      <a href="#authors/<%= id %>"><img class="img-responsive home_item" alt="" src='<%= photo.url %>'></a>
  <br>

  <p><strong><%= first_name %></strong><strong> <%= second_name %></strong></p>
</div>