<div class="avatar_outer">
<div class="avatar_inner">
<img class="img-responsive artist_avatar" src="<%= photo.url %>">
</div>
</div>
<h1><%= first_name %> <%= second_name %></h1>
<p class="artist_main"><strong>Information one:</strong> maybe date of birth</p>
<p class="artist_main"><strong>Information two:</strong> maybe hometown</p>
<p class="artist_main"><strong>Information three:</strong> maybe education</p>
<p class="artist_main"><strong>Information four:</strong> maybe achievments</p>
<p class="artist_resume"><strong>About artist</strong></p>
<span class="teaser"><p>Народився 21 травня 1895 року в містечку Криниця (Лемківщина). Мати — німа русинка-українка Євдокія Дровняк. Охрестили його Єпіфаном на честь св. Єпіфанія, якого Церква вшановує 25 травня. Але через екзотичність того ймення немовля стали кликати Никифором.</p></span>
<span class="complete">
<p>Шкільна наука давалася Никифору важко. Навчання довелося полишити. Навчився хіба що писати друкованими літерами, трохи читати та рахувати. А ще малювати — спочатку грифелем на дошці, згодом олівцем на клаптиках паперу. За цей хист криничани іронічно прозвали Никифора Матейком.</p>
<p>Якось до Криниці приїхав львівський художник Роман Турин. Познайомившись із роботами Дровняка, митець був вражений побаченим. Пан Роман зібрав близько 200 творів Никифора та віддав до паризької галереї Leon Marseille на виставку українських, французьких та італійських художників, влаштовану в листопаді 1932 року Українським народним музеєм ім. Т.Шевченка. Никифора визнали як яскравого представника наївного малярства, прийняли до плеяди світових художників.</p>
<p>Творчістю Дровняка зацікавився польський художник Єжи Вольф. 1938 року він опублікував у часописі Arkady нарис «Маляр наївного реалізму в Польщі. Никифор», і це стало неначе другим входженням Никифора до світу мистецтва. Того ж року у Львові в щомісячнику «Українське юнацтво» (видавався Католицькою акцією української молоді «Орли») надруковано відгук на другу виставку, що проходила в червні—липні у львівському Будинку архітекторів під назвою «Виставка художника-самоука Никифора».</p>
<p>Під час горезвісної акції Операція Вісла 1947 року Никифору довелося розділити долю всіх лемків Польщі. Чотири рази його висилали до Щецина, а він, долаючи пішки понад 700 км, повертався до рідної землі. Коли вкотре не вдалося Никифора переселити, вирішили змінити національність. Придумали йому ім'я Ян, прізвище дали Никифор.</p>
<p>31 грудня 1949 року у Варшаві відкрито персональну виставку «Виставка художніх робіт Яна Нікіфора з Криниці». Однак найбільшого розголосу набула виставка, що відбулася в Парижі 1959 року в галереї Diny Vierny.</p>
<p>Картини художника експонувалися в Італії, Бельгії, Англії, Швейцарії, США, Бразилії, Ізраїлі, Югославії, Чехословаччині, багатьох містах Польщі, але перші чотири виставки зробили Никифора знаменитим і принесли йому світове визнання. Він дістає замовлення на картини, ікони; придбати його роботи мають за честь відомі європейські галереї; щоб познайомитися з художником, до Криниці їдуть безліч шанувальників, вони розкуповують картини Дровняка ще мокрими.</p>
<p>Восени 1968 року Никифор їде до містечка Фолюш, де в місцевому санаторії лікується від туберкульозу. Він хворів давно, голод, злидні та поневіряння не минули безслідно.</p>
<p>Хвороба прогресує. 10 жовтня 1968 року Никифор-Єпіфаній Дровняк помирає. Одну із останніх картин художник підписав «Найсвятіший Никифор». Гроші та майно перейшли до держави, картини стали власністю музею у м. Новий Санч.</p></span>
<span class="more">more...</span>