
<form action="#" method="POST" id="collector-register">


    <div class="modal-body">
      <div class="container-fluid">
        <h4 class="text-center">Recovery password</h4>
        <hr>
        <div class="well">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <label class="pull-right" for="email">Email: </label>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <input type="email" id="email" class="form-group" placeholder="example@xmpl.com">
                  <button type="submit" class="btn btn-primary send-mail">Send me password reset instructions</button>
                </div>
              </div>
            </div>
        </div> <!-- /.well -->
      </div>
      <!-- /.container-fluid -->
    </div>
</form>
