<div class="modal-header sign-in-header">
    <div class="container-fluid">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span><img class="image-responsive" id="myModalLabel" src="../img/brand_logo_resized.png" alt="LOGO"></span> <h3 class="hidden-xs text-uppercase">Project Art</h3>
    </div>
</div> <!-- /.modal-header -->


<form action="#" method="POST" id="collector-register">


    <div class="modal-body">
        <div class="container-fluid">

            <h4 class="text-center">Create An Account</h4>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-facebook btn-xs">Connect with Facebook</button>
                <span> or</span>
            </div>
            <hr>

            <div class="form-group">
                <div class="row">
                    <div class="hidden-xs col-sm-4">
                        <label class="pull-right" for="collector-name">Name: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <input type="text" class="form-group" id="collector-name" placeholder="First Name">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-sm-offset-4">
                        <input type="text" class="form-group" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label class="pull-right" for="collector-email">Email: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <input type="email" id="collector-email" class="form-group" placeholder="example@xmpl.com">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label class="pull-right" for="collector-password">Password: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <input type="password" id="collector-password" class="form-group" placeholder="mySecretPass">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label class="pull-right" for="collector-repassword">Confirm: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <input type="password" id="collector-repassword" class="form-group" placeholder="mySecretPass">
                    </div>
                </div>
            </div>

        </div> <!-- /.container-fluid -->
    </div> <!-- /.modal-body -->


    <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modal-inner" href="modal-register.html">Back</a>
        <button type="submit" class="btn btn-primary">Register</button>
    </div> <!-- /.modal-footer -->


</form>
