<div class="modal-body">
<div class="container-fluid">
<div class="content">
    <div class="header">
        <p class="text-muted text-center">Welcome to Project Art
            <br> Help us create a personalized experience for you.</p>
    </div>
    <div class="acc-type-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="register-option">
                    <button class="btn btn-default customer">Customer</button>
                    <!--<a class="collector-account" href="modal-collector-register.html" data-dismiss="modal" data-toggle="modal" data-target="#modal">Collector</a>-->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="register-option">
                    <button class="btn btn-default artist">Artist</button>
                    <!--<a class="artist-account" href="modal-artist-register.html" data-dismiss="modal" data-toggle="modal" data-target="#modal">Artist</a>-->
                </div>
            </div>
            <!-- /.col -->
            <div class="select-one hidden-xs">
                Select one
            </div>
        </div>
    </div>
</div>
</div>
</div>