.content .description {
  padding-top: 0px;
  position: relative;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.avatar_outer {
  float: left;
  margin-right: 30px;
  margin-bottom: 0px;
  position: relative;
}

.avatar_inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #EBEBEB;
  width: 242px;
  height: 336px;
}

.artist_avatar {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.variable-width {
  padding: 10px 10px 10px 10px;
  border: 1px solid #000;
  white-space: nowrap;
  background: #333;
}

.slick-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.paint_outer {
  float: left;
  position: relative;
}

.paint_inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #222;
  background: #555
}

.img-responsive.artist {
  height: 170px;
}

h1 {
  font-family: "Open Sans", Calibri, Tahoma, Arial, sans-serif;
}

.artist_main {
  font-family: "Open Sans", Calibri, Tahoma, Arial, sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: left;
  padding-top: 10px;
}

.artist_resume {
  font-family: "Open Sans", Calibri, Tahoma, Arial, sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: justify;
  padding-top: 15px;
}

.complete{
    display:none;
}

.more{
    background:lightgrey;
    color:navy;
    font-size:11px;
    padding:3px;
    cursor:pointer;
}

p {
  font-family: "Open Sans", Calibri, Tahoma, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  text-align: justify;
}

.container.paintslide {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
}