.home_carousel {
  margin-right: 60px;
  margin-left: 30px;
}

.variable-width.slick-initialized {
  padding: 10px 10px 10px 10px;
  margin-left: 50px;
  border: 1px solid #000;
  white-space: nowrap;
  background: #333;
}

.slick-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.paint_outer {
  float: left;
  position: relative;
}

.paint_inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #222;
  background: #555
}

@media (min-width: 768px) {
.img-responsive {
  height: 250px;
}
.paint_category {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #222;
  background: #555;
}
}

@media (max-width: 767px) {
.img-responsive {
  height: 300px;
}
.categories {
  margin-top: 15px;
  padding-top: 5px;
  max-height: 240px;
  overflow-y: scroll;
}
.paint_category {
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #222;
  background: #555;
}
}

@media (max-width: 560px) {
.home_carousel {
  display: none;
}
}

.scroll-menu {
  padding-left: 0;
}