html,
body {
height: 100%;
}

#push,
#footer {
height: 60px;
}

#footer {
background-color: #f5f5f5;
}

footer p {
	margin: 0;
}

@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

div.container.header {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 768px) {
.navbar {
  border-radius: 0px;
}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-toggle {
  float: left;
  margin-left: 10px;
}

.navbar-toggle.collapsed {
  float: left;
  margin-left: 10px;
}

.navbar-right {
  margin-right: 0px;
}

.lang,
.login,
.srch {
  background-color: transparent;
  border-color: #333;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  margin-left: 10px;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: inherit !important;
  border-color: #337ab7;
}

#btnlanglogsrch:hover {
  background-color: #444;
}

.mybutton {
  float: right !important;
  padding: 5px 10px;
}

/* карусель головна */

.home_carousel {
  margin-top: 70px;
  margin-right: 60px;
  margin-left: 30px;
}

.variable-width.slick-initialized {
  padding: 10px 10px 10px 10px;
  margin-left: 50px;
  border: 1px solid #000;
  white-space: nowrap;
  background: #333;
}

.slick-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.paint_outer {
  float: left;
  position: relative;
}

.paint_inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: 1px solid #222;
  background: #555
}

@media (min-width: 768px) {
.img-responsive {
  height: 250px;
}
}

@media (max-width: 767px) {
.img-responsive {
  height: 200px;
}
}

@media (max-width: 560px) {
.home_carousel {
  display: none;
}
}

/* кінець каруселі головної*/

.content > .container-fluid {
  margin-top: 70px;
  position: relative;
  width: 87%;
}

/* обгортка для картини */
.work_outer {
  margin-bottom: 24px;
  float: right;
  position: relative;
}

.work_inner {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.08);*/
  border: 1px solid black;
  width: 270px;
}
/* кінець обгортки для картини */

.work_inner >a {
  color: black;
}

/*img.lazy {
  width: 250px;
  height: 300px;
}*/

.footer{
	background-color: #eee;
}

.footer address {
margin-bottom: 0;
}

.footer address+button {
	width: 100%;
}

@media screen and (min-width: 768px) {
  .footer nav {
    padding-right: 0;
    padding-left: 0;
}

.sign-in-header {
  border-radius: 0px;
  background-color: #eee;
}

.sign-in-body {
	border-radius: 0px;
	border-color: #fff;
}

.sign-in-body input {
	margin-left: -15px;
/*	border-radius: 0px;
	background-color: #eee;
	border: none;
*/}

.sign-in-header h3 {	
	display: inline;
}

.btn-facebook {
	padding-left: 20px;
	background-image: url("../img/Facebook_logo_16.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
}